@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,
body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header>p {
    color: white;
    font-family: var(--fonte1);
    padding-bottom: 30px;

}

header a,
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    padding: 5vh 0;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section>p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.664);
    display: inline-block;
    padding: 8px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5vh 0;
}


/***********************************************RESPONSIVE***********************************************/

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    header>h1 {
        padding-top: 25px;
        font-size: 7vw;
    }

    header>p {
        padding-bottom: 25px;
    }

    section {
        padding: 7vh;
        padding-left: 30px;
        font-size: 3.5vw;
    }

    section>p {
        margin-left: 20vh;
        padding-bottom: 1em;
    }

    section.imagem>p {
        padding: 15px;
    }

    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 5vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header>h1 {
        padding-top: 25px;
        font-size: 5vw;
    }

    header>p {
        padding-bottom: 25px;
    }

    section {
        padding: 4vh ;
        padding-left: 20px;
        font-size: 2vw;
    }

    section>p {
        text-align: center;
        margin: 5vh 0 5vh 0;
    }

    section.imagem {
        padding: 10px;
        text-align: center;
    }
    .texto2 {
        text-align: center;
        margin-bottom: 5vh;
    }
}